/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222f3e; 
    font-family: sans-serif;
}


/* CONTENEDOR */
.container {
    position: relative;
    overflow: visible;
    width: 90vw;          /* ocupa máximo 90% del ancho de la pantalla */
    max-width: 600px;     /* nunca más grande que antes */
    height: 90vw;
    max-height: 400px;
    transform-origin: top center;
}

/* CARTA */
.letter {
    position: absolute;
    left: 50%;
    top: 5%; /* separación desde arriba, responsive */
    transform: translateX(-50%);
    width: 90%;       /* ancho relativo al contenedor */
    height: auto;
    aspect-ratio: 16/10; /* mantiene proporciones */
    border-radius: 0.5rem;
    border-radius: 8px;
    padding: 5%;

    display: flex;
    justify-content: center; /* centra horizontal */
    align-items: center;     /* centra vertical */
    text-align: center;      /* centra el texto */

    opacity: 0;
    pointer-events: none; /* no se puede clickear al principio */

    
}

.letter:hover {
    transform: translateX(-50%) translateY(0px) scale(1.05);
}


@keyframes letter-out {
    0% {
        transform: translateX(-50%) translateY(40px);
        opacity: 0;
    }
    50% {
        transform: translateX(-50%) translateY(-200px);
        opacity: 1;
    }
    80% {
        transform: translateX(-50%) translateY(-10px); /* rebote hacia abajo */
    }
    90% {
        transform: translateX(-50%) translateY(5px);  /* micro rebote hacia arriba */
    }
    100% {
        transform: translateX(-50%) translateY(0px);  /* posición final */
    }
}

@keyframes letter-in {
    0% {
        transform: translateX(-50%) translateY(40px);
        opacity: 1;
    }
    50% {
        transform: translateX(-50%) translateY(-200px);
        opacity: 1;
    }
    80% {
        transform: translateX(-50%) translateY(-10px); /* rebote hacia abajo */
    }
    90% {
        transform: translateX(-50%) translateY(5px);  /* micro rebote hacia arriba */
    }
    100% {
        transform: translateX(-50%) translateY(0px);  /* posición final */
    }
}

.letter.show {
    animation: letter-out 1s ease forwards;
}

.letter.unshow {
    animation: letter-in 1s ease forwards;
}

.letter.front {
    opacity: 1;
    z-index: 1000;
    cursor: pointer;
    pointer-events: auto;
}


.letter p {
    font-family: serif;
    font-size: max(1vw,64px);
    color: #374151;
    white-space: pre-line;
    user-select: none;
}
.letter-front,
.letter-back {
    position: absolute;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/10; /* mantiene proporciones */
    border-radius: 0.5rem;
    display: flex;
    backface-visibility: hidden; /* evita que se vea por detrás */
    transform-style: preserve-3d;
    transition: transform 0.8s ease, scale 0.5s ease;
}

/* Parte delantera del sobre */
.letter-front {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white; /* sobre rojo/rosa */
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    z-index: 2;
}

/* Parte trasera: folio */
.letter-back {
    background: white;
    transform: rotateX(180deg); /* “esconde” la parte trasera al inicio */
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    padding: 5%;
    text-align: justify;
    z-index: 1;
    overflow: hidden;         /* corta texto que sobrepasa */
}

/* Abrir carta */
.letter.open .letter-front {
    transform: rotateX(-180deg) scale(clamp(1.5, 70vw / 400px, 3));
}

.letter.open .letter-back {
    transform: rotateX(0deg) scale(clamp(1.5, 70vw / 400px, 3));
}


#letter-text {
    font-family: serif;
    font-size: clamp(14px, 2vw, 20px); /* se adapta a la pantalla */
    color: #374151;
    white-space: pre-line;
    user-select: none;

    /* Evitar que se salga del contenedor */
    overflow-wrap: break-word;  /* fuerza quiebres de palabra */
    max-height: 100%;            /* no exceda la altura de la carta */
    overflow-y: auto;            /* scroll si hay demasiado texto */
}


/* SOBRE */
.envelope {
    position: relative;
    width: 100%;       /* toma todo el contenedor */
    height: auto;
    aspect-ratio: 5/3.3; /* mantiene proporción original 500x330 */
    background-color: #fecaca;
    overflow: visible;
}

/* TAPA */
.top{
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 800px;
}

.top.open .cover{
    transform: rotateX(180deg);  
    transform-origin: top;
    transition: transform 0.7s ease;
}

.top.down .cover{
    transform: rotateX(0deg);  
    transform-origin: top;
    transition: transform 0.7s ease;
}


.cover{
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 800px;
    z-index: 2;
}


.top-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #ffbbbb;
    transform-origin: top;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    z-index: -1;
}

.top-cap{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #fca5a5;
    transform-origin: top;
    transition: transform 0.7s ease;
}
 
.top-triangle{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #fca5a5;
    transform-origin: top;
    transition: transform 0.7s ease;
    clip-path: polygon(0 0, 100% 0, 50% 80%);
}



/* BASE */
.base {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.base.open{
    z-index: 2;
}

.base-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #fecaca;

    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.base-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #fecaca;

    clip-path: polygon(100% 0, 100% 100%, 0 50%);
}



.base-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #fecaca;
}

/* SELLO */
.seal {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 15%;
    max-width: 80px;     /* límite máximo */
    aspect-ratio: 1/1;   /* mantiene proporción cuadrada */
    z-index: 40;
    cursor: pointer;
    transition: transform 0.7s ease; /* duración y suavidad */
}

.seal:hover {
    transform: scale(1.05);
}

/* Animación pop */
@keyframes seal-pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2); /* crece al doble */
    }
    100% {
        transform: scale(1); /* vuelve a su tamaño original */
    }
}

@keyframes seal-close {
    0% {
        transform: translate(0%, -500%) rotateX(180deg) scale(1);
    }
    50% {
        transform: translate(0%, -500%) rotateX(180deg) scale(2); /* crece al doble */
    }
    100% {
        transform: translate(0%, -500%) rotateX(180deg) scale(1); /* vuelve a su tamaño original */
    }
}

/* Cuando queremos activarla */
.seal.open {
    animation: seal-pop 0.5s ease forwards;
}

.seal.up{
    transform: translate(0%, -500%) rotateX(180deg); /* sube y gira */
}

.seal.up:hover {
    transform: translate(0%, -500%) rotateX(180deg) scale(1.05);
}

.seal.up.close {
    
    animation: seal-close 0.5s ease forwards;
}


.heart {
    position: relative;
    width: 100%;          /* relativo al sobre */
    max-width: 70px;     
    aspect-ratio: 1/1;
    background: #ff4757;
    transform: rotate(-45deg);
    border: none;
    border-radius: 0;
    transition: transform 1s ease, opacity 1s ease;
}

.heart::before{
    content: '';
    position: absolute;
    top:-50%;
    left:0%;
    width: 100%;          /* relativo al sobre */
    max-width: 70px;     
    aspect-ratio: 1/1;
    background: #ff4757;
    border-radius: 50%;
}

.heart::after{
    content: '';
    position: absolute;
    top:0;
    right:-50%;
    width: 100%;          /* relativo al sobre */
    max-width: 70px;     
    aspect-ratio: 1/1;
    background: #ff4757;
    border-radius: 50%;
}
